<div class="container">
  <h1>Descubra o Pokémon pelo clima da cidade</h1>
  <input [(ngModel)]="city" placeholder="Digite o nome da cidade" />
  <button (click)="searchWeatherAndPokemon()">Buscar</button>

  <div *ngIf="temperature !== null">
    <h2>Clima em {{ city }}</h2>
    <p>Temperatura: {{ temperature }}°C</p>
    <p>Está chovendo: {{ isRaining ? 'Sim' : 'Não' }}</p>
    <h3>Pokémon do tipo {{ pokemonType }} encontrado! </h3>
    <p>Nome: {{ pokemonName }}</p>
    <img *ngIf="pokemonImage" [src]="pokemonImage" alt="{{ pokemonName }}" />
  </div>
</div>