<div class="container">
  <div class="form">
    <div class="gap">
      <h4>Encontre um Pokémon de acordo com o clima de uma cidade:</h4>
      <div class="form-input-container">
        <input type="text" [(ngModel)]="city" placeholder="Buscar local:" id="city-input"
          (keyup.enter)="searchWeatherAndPokemon()">
        <button (click)="searchWeatherAndPokemon()" id="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showError" class="error">
    <p>{{errorMessage}}</p>
    <img src="pikachu.gif" alt="Pikachu">
  </div>

  <div *ngIf="showWeather" id="weather-data">
    <div id="weather-data-itens">
      <h2>
        <i class="fa-solid fa-location-dot"></i>
        <span id="city">{{ cityFound }}</span>
        <img src="https://flagsapi.com/{{ country }}/shiny/32.png" alt="Bandeira do Páis" id="country">
      </h2>
      <div id="description-container">
        <p id="description"><b>{{ isRaining ? 'Com' : 'Sem' }} chuva e </b>{{ description_weather }}</p>
        <img src="http://openweathermap.org/img/wn/{{ weatherImage }}.png" alt="Condicoes do tempo" id="weather-icon">
      </div>
      <p class="circle">
        <span class="inner-circle">
          <span class="small-circle">
            <span id="temparature">{{ temperature }}&deg;C</span>
          </span>
        </span>
      </p>
    </div>
    <div *ngIf="showWeather" id="details-container">
      <div class="cardPokemon">
        <div class="pokemonDetails">
          <h3>Pokémon do tipo<b> {{pokemonType}} </b>encontrado! </h3>
          <img *ngIf="pokemonImage" [src]="pokemonImage" alt="{{ pokemonName }}" />
          <p>Nome: {{ pokemonName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>