<!-- <h1 class="titulo">Vamos encontrar um pokemon de acordo com o clima de uma cidade?</h1>
<div class="card">
  <div class="search">
    <input [(ngModel)]="city" type="text" placeholder="Digite o nome da cidade:" spellcheck="false">
    <button (click)="searchWeatherAndPokemon()"><img src="search.png" alt="Icone de busca"></button>
  </div>

  <div class="error">
    <p>Cidade não encotrada. Digite novamente!</p>
  </div>

  <div *ngIf="showWeather" class="cardWeather"> 
    <img src="{{ weatherImage }}" class="weather-icon">
    <h1 class="temp">{{ temperature }}°C</h1>
    <h2 class="city">{{ cityFound }}</h2>
  </div>
  
  <div *ngIf="showWeather" class="cardPokemon">
    <div class="weather"> 
      <h3>Pokémon do tipo {{ pokemonType }} encontrado! </h3>
      <p>Nome: {{ pokemonName }}</p>
      <img *ngIf="pokemonImage" [src]="pokemonImage" alt="{{ pokemonName }}" />
    </div>
  </div>
 
</div> -->


<Div class="container">
  <div class="form">
    <h3>Vamos encontrar um pokémon de acordo <br> com o clima de uma cidade:</h3>
    <div class="form-input-container">
      <input type="text" [(ngModel)]="city" placeholder="Digite o nome da cidade:" id="city-input">
      <button (click)="searchWeatherAndPokemon()" id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
  <div *ngIf="showError" class="error">
    <p>Cidade não encotrada. Tente outra!</p>
  </div>

  <div *ngIf="showWeather" id="weather-data">
    <div id="weather-data-itens">
      <h2>
        <i class="fa-solid fa-location-dot"></i>
        <span id="city">{{ cityFound }}</span>
        <img src="https://flagsapi.com/{{ country }}/shiny/32.png" alt="Bandeira do Páis" id="country">
      </h2>
      <div id="description-container">
        <p id="description"><b>{{ isRaining ? 'Com' : 'Sem' }} chuva e </b>{{ description_weather }}</p>
        <img src="http://openweathermap.org/img/wn/{{ weatherImage }}.png" alt="Condicoes do tempo" id="weather-icon">
      </div>
      <p class="circle">
        <span class="inner-circle">
          <span class="small-circle">
            <span id="temparature">{{ temperature }}&deg;C</span>
          </span>
        </span>
      </p>
    </div>
    <div id="details-container">
      <div class="cardPokemon">
        <div class="pokemonDetails">
          <h3>Pokémon do tipo<b> {{pokemonType}} </b>encontrado! </h3>
          <img *ngIf="pokemonImage" [src]="pokemonImage" alt="{{ pokemonName }}" />
          <p>Nome: {{ pokemonName }}</p>
        </div>
      </div>
    </div>
  </div>
</Div>